body {
    background-color: #352f5b;
}

.container {
    max-width: 400px;
}

input[type=text],
input[type=text]:focus {
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

input[type="text"]::placeholder {
    color: rgba(240, 255, 255, 0.47);
}

.toDos li {
    background: #423a6f;
    border: none;
    margin-bottom: 2%;
}

.delete {
    cursor: pointer;
}

.delete:hover {
    color: azure;
}

.hide {
    display: none !important;
}